* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.block::before, .block::after {
    content: "";
    display: table;
   }
.block:after { clear: both; }

.block { padding: 30px; }

.block:nth-child(odd) {
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
   }

.header-banner {
   background-image: url("images/bg.jpg");
   background-size: cover;
   background-position: 70%;
   text-align: center;
   font-size: 8em;
   line-height: 500px;
   color: darksalmon;
   text-shadow: 3px 3px 3px black;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

p, dl, ol,ul {
   font-size: 2em;
}

.element__list dt {
    text-decoration: underline 0.5px;
}

.element__list dt::after {
    content: ': ';
}

.element__list dd, .element__list dt {
    display: inline-block;
}

.cooking__process {
    list-style-type: none;
    list-style-position: inside;
    counter-reset: number;
}

.cooking__step::before {
    content: 'Шаг ' counter(number);
    counter-increment: number;
    font-weight: bold;
}

.cooking-step__description {
    font-size: 1em;
    display: inline-block;
    margin-right: 20px;
    max-width: calc(100% - 460px);
    vertical-align: top;
}

ul {
    margin-top: 2em;
}

.container {
    width: 1140px;
    margin: 0 auto 100px auto;
}

.intro__p {
    text-align: justify;
    margin: 2em 0;
}

.cook-time__header {
    display: inline-block;
    font-size: 2.5em;
    text-transform: none;
    margin-right: 0.5em;
}

.cook-time__value {
    display: inline-block;
    font-size: 2.5em;
    text-decoration: underline 0.75px;
    font-style: italic;
}

.cooking-step__img {
    max-width: 300px;
    float: right;
    margin-left: 15px;
}

.cooking-step__img2 {
    max-width: 300px;
    float: left;
    margin-right: 15px;
}